<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="index, follow">
    <meta name="description" content="Boomerang is a responsive website template based on the well known Bootstrap framework. It's very well structured with lots of features and demos ready to be used.">
    <meta name="keywords" content="bootstrap, responsive, template, website, html, theme, ux, ui, web, design, developer, support, business, corporate, real estate, education, medical, school, education, demo, css, framework">
    <meta name="author" content="Webpixels">

    <title>Pixeloo</title>

  </head>


  <body>

    <!-- MAIN WRAPPER -->


              <!-- Start Top Bar -->
              <!-- Jai mis ceci volontairement en commentaire pour le moment car il y a des parties à récupérer pour plus tard - La Search bar - Le panier Ce sera à supprimer par la suite
              <div class="top-navbar"> <div class="container"> <div class="row"> <div
              class="col-md-6"> <span class="aux-text d-none d-md-inline-block"> <ul class="inline-links inline-links--style-1"> <li class="d-none d-lg-inline-block"> Boomerang - Multipurpose Bootstrap Theme </li> <li> <i class="fa fa-envelope"></i> <a
              href="#">support@webpixels.io</a> </li> </ul> </span> </div> <div class="dc-content"> <span class="d-block dc-product-name text-capitalize strong-600 mb-1"> <a href="#"> Wood phone case </a> </span> <span class="dc-quantity">x2</span> <span
              class="dc-price">$50.00</span> </div> <div class="dc-actions"> <button> <i class="ion-close"></i> </button> </div> </div> </div> <div class="dc-item"> <div class="d-flex align-items-center"> <div class="dc-image"> <a href="#"> <%=
              image_tag("prv/shop/accessories/img-2a.png", :alt => "" , :class => "")%> </a> </div> <div class="dc-content"> <span class="d-block dc-product-name text-capitalize strong-600 mb-1"> <a href="#"> Leather bag </a> </span> <span
              class="dc-quantity">x1</span> <span class="dc-price">$250.00</span> </div> <div class="dc-actions"> <button> <i class="ion-close"></i> </button> </div> </div> </div> <div class="dc-item"> <div class="d-flex align-items-center"> <div class="dc-image">
              <a href="#"> <img src="../../assets/images/prv/shop/accessories/img-3a.png" class="img-fluid" alt=""> </a> </div> <div class="dc-content"> <span class="d-block dc-product-name text-capitalize strong-600 mb-1"> <a href="#"> Brown leather wallet </a>
              </span> <span class="dc-quantity">x1</span> <span class="dc-price">$99.00</span> </div> <div class="dc-actions"> <button> <i class="ion-close"></i> </button> </div> </div> </div> <div class="dc-item py-4"> <span class="subtotal-text">Subtotal</span>
              <span class="subtotal-amount">$450.00</span> </div> <div class="py-4 text-center"> <ul class="inline-links inline-links--style-3"> <li class="pr-3"> <a href="#" class="link link--style-2 text-capitalize"> <i class="ion-person"></i> My account </a>
              </li> <li class="pr-3"> <a href="#" class="link link--style-1 text-capitalize"> <i class="ion-bag"></i> View cart </a> </li> <li> <a href="#" class="link link--style-1 text-capitalize"> <i class="ion-forward"></i> Checkout </a> </li> </ul> </div>
              </div> </li> </ul> </li> <li class="aux-languages dropdown"> <a href="#"> <img src="../../assets/images/icons/flags/ro.png"> <%= image_tag("icons/flags/ro.png", :alt => "" , :class => "")%> </a> <ul id="auxLanguages" class="sub-menu"> <li> <a
              href="#"><span class="language">German</span></a> </li> <li> <span class="language language-active">English</span> </li> <li> <a href="#"><span class="language">Greek</span></a> </li> <li> <a href="#"><span class="language">Spanish</span></a> </li>
              </ul> </li> <li><a href="#" class="btn-st-trigger" data-effect="st-effect-1"><i class="fa fa-ellipsis-h"></i></a></li> </ul> </nav> </div> </div> </div> </div> <!-- end Top Bar-->

              <section class="slice sct-color-2">
                <div class="container">
                  <div class="section-title section-title--style-1 text-center">
                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                      <span>Catégories principales</span>
                    </h3>
                  </div>

                  <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-lg-4">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("categories/reflex.jpg", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Boîtiers numériques
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <%= link_to 'Explorer', category_items_path(category_id: 1), class: "btn btn-gray-dark btn-circle px-4" %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("categories/objectif.jpg", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Objectifs
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <%= link_to 'Explorer', category_items_path(category_id: 2), class: "btn btn-gray-dark btn-circle px-4" %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("categories/eclairage.jpg", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Eclairage studio & reportage
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <%= link_to 'Explorer', category_items_path(category_id: 3), class: "btn btn-gray-dark btn-circle px-4" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- unusefull now <section class="slice sct-color-2"> <div class="container"> <div class="row align-items-end pb-100"> <div class="col-lg-8 order-lg-2"> <div class="block block-image-holder"> <div class="block-image"> <%=
              image_tag("prv/shop/electronics/img-promo-wide-2.jpg", :alt => "" , :class => "img-fluid")%> </div> </div> </div> <div class="col-lg-4 order-lg-1"> <div class="feature feature--boxed-border floating-content floating-content--2 float--right mb--100
              feature--bg-1 z-depth-2-top"> <div class="py-4 px-3"> <h2 class="heading heading-3 strong-600"> Listening to Music </h2> <span class="clearfix"></span> <p class="mt-4 line-height-1_8"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Curabitur pellentesque neque eget diam posuere porta. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p> <div class="btn-container mt-4"> <a href="#" class="btn btn-lg btn-gray-dark btn-circle px-4">Explore</a> <a
              href="#" class="btn btn-lg btn-base-1 btn-circle btn-icon-left px-4"> <i class="icon ion-bag"></i> Rent now </a> </div> </div> </div> </div> </div> </div> </section> <section class="slice sct-color-2"> <div class="container"> <div class="row
              align-items-start"> <div class="col-lg-8"> <div class="block block-image-holder"> <div class="block-image"> <%= image_tag("prv/shop/electronics/img-promo-wide-1.jpg", :alt => "" , :class => "img-fluid")%> </div> </div> </div> <div class="col-lg-4">
              <div class="feature feature--boxed-border floating-content floating-content--2 float--left top-0 mt--100 feature--bg-1 z-depth-2-top"> <div class="py-4 px-3"> <h2 class="heading heading-3 strong-600"> Dreaming in Colors </h2> <span
              class="clearfix"></span> <p class="mt-4 line-height-1_8"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              </p> <div class="btn-container mt-4"> <a href="#" class="btn btn-lg btn-gray-dark btn-circle px-4">Explore</a> <a href="#" class="btn btn-lg btn-base-1 btn-circle btn-icon-left px-4"> <i class="icon ion-bag"></i> Buy now </a> </div> </div> </div>
              </div> </div> </div> </section> -->
              <section class="slice sct-color-2">
                <div class="container">
                  <div class="section-title section-title--style-1 text-center">
                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                      <span>Articles les plus appréciés</span>
                    </h3>
                  </div>

                  <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("boitier/LEICA-V-LUX.jpg", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Leica V-Lux-7
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("objectif/sigma-35mm-f14-dg-hsm.jpg", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Sigma 35 f1.4
                            </a>
                          </h3>
                          <p class="product-description">
                            Léger et ultra lumineux, cet objectif sera votre compagnon idéal sur le terrain
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("objectif/canon-ef-50mm-f12-l-usm.jpg", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Canon 50 mm f1.2
                            </a>
                          </h3>
                          <p class="product-description">
                            léger et compact ...
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("eclairage/canon-speedlite-600.png", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Canon speedlite 600
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="slice sct-color-2">
                <div class="container">
                  <div class="section-title section-title--style-1 text-center">
                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                      <span>Nos utilisateurs les mieux notés</span>
                    </h3>
                  </div>

                  <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("boitier/LEICA-V-LUX.jpg", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Leica V-Lux-7
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("objectif/sigma-35mm-f14-dg-hsm.jpg", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Sigma 35 f1.4
                            </a>
                          </h3>
                          <p class="product-description">
                            Léger et ultra lumineux, cet objectif sera votre compagnon idéal sur le terrain
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("objectif/canon-ef-50mm-f12-l-usm.jpg", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Canon 50 mm f1.2
                            </a>
                          </h3>
                          <p class="product-description">
                            léger et compact ...
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <%= image_tag("eclairage/canon-speedlite-600.png", :alt => "" , :class => "img-center")%>
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Canon speedlite 600
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/prv/architecture/img-slider-1.jpg);">
                <div class="mask mask-base-1--style-1"></div>
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-6 text-center">
                      <h2 class="heading heading-1 strong-600 c-white">
                        Ici on mettra des témoignages par exemple
                      </h2>
                      <p class="c-white trong-300 mt-4">
                        Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only.
                      </p>

                      <div class="btn-container mt-5">
                        <a href="#" class="btn btn-styled btn-white btn-outline btn-circle px-5">Learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- <section class="slice sct-color-1"> <div class="container"> <div class="row align-items-center"> <div class="col-lg-6 ml-lg-auto order-lg-2"> <img src="../../assets/images/prv/shop/electronics/img-product-lg-1.jpg" class="img-fluid"> </div> <div
              class="col-lg-5 order-lg-1"> <div class=""> <h3 class="heading heading-2 strong-600">The most beautiful colors you've ever seen</h3> <p class=" c-gray-light mt-4"> There is only that moment, and the incredible certainty that everything under the sun
              has been written by one hand only. </p> <div class="btn-container mt-5"> <a href="#" class="btn btn-base-1 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection"> <i class="icon ion-android-cart"></i> Add to cart </a> <a href="#" class="btn
              btn-base-3 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection"> Learn more </a> </div> </div> </div> </div> </div> </section> -->
              <section class="slice sct-color-2">
                <div class="container">
                  <div class="section-title section-title--style-1 text-center">
                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                      <span>Vos dernières locations</span>
                    </h3>
                  </div>

                  <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <img src="../../assets/images/prv/shop/electronics/img-1.png" class="img-center">
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Google Home Base
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <img src="../../assets/images/prv/shop/electronics/img-2.png" class="img-center">
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Google Home
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <img src="../../assets/images/prv/shop/electronics/img-3.png" class="img-center">
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Libratone Q Adapt
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                          <a href="#">
                            <img src="../../assets/images/prv/shop/electronics/img-3.png" class="img-center">
                          </a>
                          <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                        </div>

                        <div class="block-body text-center">
                          <h3 class="heading heading-5 strong-600 text-capitalize">
                            <a href="#">
                              Libratone Q Adapt
                            </a>
                          </h3>
                          <p class="product-description">
                            2.8GHz Processor 1TB Storage 16GB DDR
                          </p>
                          <div class="product-colors mt-2">
                            <div class="color-switch float-wrapper">
                              <a href="#" class="bg-purple"></a>
                              <a href="#" class="bg-pink"></a>
                              <a href="#" class="bg-blue"></a>
                            </div>
                          </div>
                          <div class="product-buttons mt-4">
                            <div class="row align-items-center">
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                  <i class="ion-ios-heart"></i>
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                  <i class="ion-ios-browsers-outline"></i>
                                </button>
                              </div>
                              <div class="col-8">
                                <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                  <i class="icon ion-android-cart"></i>Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="slice-sm bg-base-1">
                <div class="container sct-inner">
                  <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-lg-4 b-lg-right b-inverse">
                      <div class="px-3 py-3 text-lg-center">
                        <h3 class="heading heading-sm c-base-text-1 strong-600 text-uppercase ls-1">Free shipping in 48/72H</h3>
                        <p class="c-white alpha-8 line-height-1_6">
                          Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                        </p>
                      </div>
                    </div>

                    <div class="col-lg-4 b-lg-right b-inverse">
                      <div class="px-3 py-3 text-lg-center">
                        <h3 class="heading heading-sm c-base-text-1 strong-600 text-uppercase ls-1">Free returns</h3>
                        <p class="c-white alpha-8 line-height-1_6">
                          Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                        </p>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="px-3 py-3 text-lg-center">
                        <h3 class="heading heading-sm c-base-text-1 strong-600 text-uppercase ls-1">Secure payment</h3>
                        <ul class="inline-links mt-2">
                          <li>
                            <img src="../../assets/images/icons/cards/visa.png" width="30" class="img-grayscale">
                          </li>
                          <li>
                            <img src="../../assets/images/icons/cards/mastercard.png" width="30" class="img-grayscale">
                          </li>
                          <li>
                            <img src="../../assets/images/icons/cards/maestro.png" width="30" class="img-grayscale">
                          </li>
                          <li>
                            <img src="../../assets/images/icons/cards/paypal.png" width="30" class="img-grayscale">
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>
        <!-- END: st-pusher -->
      </div>
      <!-- END: st-container -->
    </div>
    <!-- END: body-wrap -->
