<%= render 'layouts/navbar' %>

    <!-- MAIN WRAPPER -->
    <div class="body-wrap shop-default shop-cards shop-tech">
      <div id="st-container" class="st-container">


        <div class="st-pusher">
          <div class="st-content">
            <div class="st-content-inner">
              <!-- HEADER -->

              <section class="slice sct-color-2">
                <div class="container">
                  <div class="section-title section-title--style-1 text-center">
                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                      <span>Catégories principales</span>
                    </h3>
                  </div>
                  <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <% @categories.each do |category| %>
                      <div class="col-lg-4">
                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                          <div class="block-image">
                            <a href="#">
                              <%= link_to(image_tag(category.image_url, :alt => "" , :class => "img-center"), category_items_path(category_id: category.id))%>
                            </a>
                          </div>

                          <div class="block-body text-center">
                            <h3 class="heading heading-5 strong-600 text-capitalize">
                              <a href="">
                                <%= link_to(category.name, category_items_path(category_id: category.id)) %>
                              </a>
                            </h3>
                            <p class="product-description">
                              <%= truncate(category.description, lenght: 7, separator: ' ') %>
                            </p>
                            <div class="product-colors mt-2">
                              <div class="color-switch float-wrapper"></div>
                            </div>
                            <div class="product-buttons mt-4">
                              <%= link_to 'Explorer', category_items_path(category_id: category.id), class: "btn btn-gray-dark btn-circle px-4" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </section>

                  <section class="slice sct-color-2">
                    <div class="container">
                      <div class="section-title section-title--style-1 text-center">
                        <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                          <span>Articles les plus appréciés</span>
                        </h3>
                      </div>
                      <div class="row cols-xs-space cols-sm-space cols-md-space">
                        <% @item_sample.each do |item| %>
                          <div class="col-lg-3">
                            <div class="block product no-border z-depth-2-top z-depth-2--hover">
                              <div class="block-image">
                                <a href="#">
                                  <%= image_tag(item.image_url, :alt => "" , :class => "img-center")%>
                                </a>
                              </div>
                              <div class="block-body text-center">
                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                  <a href="#">
                                    <%= item.title %>
                                  </a>
                                </h3>
                                <p class="product-description">
                                  <%= truncate(item.description, lenght: 7, separator: ' ') %>
                                </p>
                                <div class="product-colors mt-2">
                                  <div class="color-switch float-wrapper"></div>
                                </div>
                                <div class="product-buttons mt-4">
                                  <div class="row align-items-center">

                                    <div class="col-12">
                                      <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                        <i class="icon ion-android-cart"></i>Add to cart
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </section>

                      <section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/prv/architecture/img-slider-1.jpg);">
                        <div class="mask mask-base-1--style-1"></div>
                        <div class="container">
                          <div class="row justify-content-center">
                            <div class="col-6 text-center">
                              <h2 class="heading heading-1 strong-600 c-white">
                                Rejoignez la communauté !
                              </h2>
                              <p class="c-white trong-300 mt-4">
                                Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only.
                              </p>
                              <div class="btn-container mt-5">
                                <%= link_to "Nous rejoindre", new_user_registration_path, class:"btn btn-styled btn-white btn-outline btn-circle px-5" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>

                      <section class="slice sct-color-1">
                        <div class="container">
                          <div class="row align-items-center">
                            <div class="col-lg-6 ml-lg-auto order-lg-2">
                              <%= image_tag("backgrounds/nikon-lens-zoom.jpg", class:"img-fluid") %>
                            </div>
                            <div class="col-lg-5 order-lg-1">
                              <div class="">
                                <h3 class="heading heading-2 strong-600">The most beautiful colors you've ever seen</h3>
                                <p class=" c-gray-light mt-4">
                                  There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only.
                                </p>
                                <div class="btn-container mt-5">
                                  <a href="#" class="btn btn-base-1 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection">
                                    <i class="icon ion-android-cart"></i>
                                    Add to cart
                                  </a>
                                  <a href="#" class="btn
                        btn-base-3 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection">
                                    Learn more
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>

                    </div>
                  </div>
                </div>
