<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <!-- MAIN WRAPPER -->
    <div class="body-wrap shop-default shop-cards shop-tech">
      <div id="st-container" class="st-container">

        <div class="st-pusher">
          <div class="st-content">
            <div class="st-content-inner">

              <!-- HEADER -->
              <div class="header">

                <!-- Global Search -->
                <section id="sctGlobalSearch" class="global-search global-search-overlay">
                  <div class="container">
                    <div class="global-search-backdrop mask-dark--style-2"></div>

                    <!-- Search form -->
                    <form class="form-horizontal form-global-search z-depth-2-top" role="form">
                      <div class="px-4">
                        <div class="row">
                          <div class="col-12">
                            <input type="text" class="search-input" placeholder="Type and hit enter ...">
                          </div>
                        </div>
                      </div>
                      <a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
                    </form>
                  </div>
                </section>
                <!-- REVOLUTION SLIDER -->
                <div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="image-hero39" data-source="gallery">
                  <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                  <div id="rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                    <ul>
                      <li
                        data-index="rs-1"
                        data-transition="slidevertical"
                        data-slotamount="1"
                        data-hideafterloop="0"
                        data-hideslideonmobile="off"
                        data-easein="default"
                        data-easeout="default"
                        data-masterspeed="900"
                        data-thumb="../../images/slider/concept-1-100x50.jpg"
                        data-rotate="0"
                        data-fstransition="fade"
                        data-fsmasterspeed="1500"
                        data-fsslotamount="7"
                        data-saveperformance="off"
                        data-title="Intro"
                        data-param1=""
                        data-param2=""
                        data-param3=""
                        data-param4=""
                        data-param5=""
                        data-param6=""
                        data-param7=""
                        data-param8=""
                        data-param9=""
                        data-param10=""
                        data-description="">
                        <!-- MAIN IMAGE -->
                        <%= image_tag("backgrounds/dark-photo.jpg", :alt => "" , :class => "rev-slidebg")%>
                        <!-- LAYER NR. 2 -->
                        <div
                          class="tp-caption title--style-1 c-white tp-resizeme"
                          id="slide-1-layer-2"
                          data-x="['right','right','right','right']"
                          data-hoffset="['0','0','50','50']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['0','0','0','0']"
                          data-fontsize="['16','16','16','16']"
                          data-lineheight="['16','16','16','16']"
                          data-width="[300, 300, 300, 300]"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-type="text"
                          data-responsive_offset="on"
                          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                          data-textalign="['left','left','left','left']"
                          data-paddingtop="[0,0,0,0]"
                          data-paddingright="[0,0,0,0]"
                          data-paddingbottom="[0,0,0,0]"
                          data-paddingleft="[0,0,0,0]"
                          style="z-index: 11; white-space: nowrap;text-transform:left;">

                          <span class="text-uppercase strong-400">No more waiting</span>

                        </div>

                        <div
                          class="tp-caption title--style-1 c-white tp-resizeme"
                          id="slide-1-layer-3"
                          data-x="['right','right','right','right']"
                          data-hoffset="['0','0','50','50']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['70','70','70','70']"
                          data-fontsize="['40','40','40','40']"
                          data-lineheight="['50','40','40','40']"
                          data-width="[300, 300, 300, 300]"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-type="text"
                          data-responsive_offset="on"
                          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                          data-textalign="['left','left','left','left']"
                          data-paddingtop="[0,0,0,0]"
                          data-paddingright="[0,0,0,0]"
                          data-paddingbottom="[0,0,0,0]"
                          data-paddingleft="[0,0,0,0]"
                          style="z-index: 11; white-space: nowrap;text-transform:left;">

                          <span class="strong-400">
                            Say hello to
                          </span>
                          <br>
                          <span class="strong-600">
                            the new iPhone X
                          </span>

                        </div>

                        <!-- LAYER NR. 5 -->
                        <div
                          class="tp-caption"
                          id="slide-1-layer-5"
                          data-x="['right','right','right','right']"
                          data-hoffset="['0','0','50','50']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['180','180','180','180']"
                          data-fontsize="['40','40','40','40']"
                          data-lineheight="['50','50','50','50']"
                          data-width="[300, 300, 300, 300]"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-type="text"
                          data-responsive_offset="on"
                          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":900,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                          data-textalign="['left','left','left','left']"
                          data-paddingtop="[0,0,0,0]"
                          data-paddingright="[0,0,0,0]"
                          data-paddingbottom="[0,0,0,0]"
                          data-paddingleft="[0,0,0,0]"
                          style="z-index: 11; white-space: nowrap;text-transform:left;">

                          <a href="#" class="btn btn-base-1 btn-circle">Rent now</a>

                        </div>
                      </li>

                      <!-- SLIDE 2 -->
                      <li
                        data-index="rs-2"
                        data-transition="slidevertical"
                        data-slotamount="1"
                        data-hideafterloop="0"
                        data-hideslideonmobile="off"
                        data-easein="default"
                        data-easeout="default"
                        data-masterspeed="1500"
                        data-thumb="../../images/slider/concept-1-100x50.jpg"
                        data-rotate="0"
                        data-fstransition="fade"
                        data-fsmasterspeed="1500"
                        data-fsslotamount="7"
                        data-saveperformance="off"
                        data-title="Intro"
                        data-param1=""
                        data-param2=""
                        data-param3=""
                        data-param4=""
                        data-param5=""
                        data-param6=""
                        data-param7=""
                        data-param8=""
                        data-param9=""
                        data-param10=""
                        data-description="">
                        <!-- MAIN IMAGE -->
                        <%= image_tag("backgrounds/slider/img-59.jpg", :alt => "" , :class => "rev-slidebg")%>
                        <!-- LAYER NR. 2 -->
                        <div
                          class="tp-caption title--style-1 c-white tp-resizeme"
                          id="slide-2-layer-2"
                          data-x="['right','right','right','right']"
                          data-hoffset="['0','0','50','50']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['0','0','0','0']"
                          data-fontsize="['16','16','16','16']"
                          data-lineheight="['16','16','16','16']"
                          data-width="[300, 300, 300, 300]"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-type="text"
                          data-responsive_offset="on"
                          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                          data-textalign="['left','left','left','left']"
                          data-paddingtop="[0,0,0,0]"
                          data-paddingright="[0,0,0,0]"
                          data-paddingbottom="[0,0,0,0]"
                          data-paddingleft="[0,0,0,0]"
                          style="z-index: 11; white-space: nowrap;text-transform:left;">

                          <span class="text-uppercase strong-400">It's here</span>

                        </div>

                        <div
                          class="tp-caption title--style-1 c-white tp-resizeme"
                          id="slide-2-layer-3"
                          data-x="['right','right','right','right']"
                          data-hoffset="['0','0','50','50']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['70','70','70','70']"
                          data-fontsize="['40','40','40','40']"
                          data-lineheight="['50','40','40','40']"
                          data-width="[300, 300, 300, 300]"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-type="text"
                          data-responsive_offset="on"
                          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                          data-textalign="['left','left','left','left']"
                          data-paddingtop="[0,0,0,0]"
                          data-paddingright="[0,0,0,0]"
                          data-paddingbottom="[0,0,0,0]"
                          data-paddingleft="[0,0,0,0]"
                          style="z-index: 11; white-space: nowrap;text-transform:left;">

                          <span class="strong-400">
                            A ne pas manquer
                          </span>
                          <br>
                          <span class="strong-600">
                            Offre promotionelle
                          </span>
                          <br>
                          <span class="strong-400">
                            sur ce produit
                          </span>

                        </div>

                        <!-- LAYER NR. 5 -->
                        <div
                          class="tp-caption"
                          id="slide-2-layer-5"
                          data-x="['right','right','right','right']"
                          data-hoffset="['0','0','50','50']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['180','180','180','180']"
                          data-fontsize="['40','40','40','40']"
                          data-lineheight="['50','50','50','50']"
                          data-width="[300, 300, 300, 300]"
                          data-height="none"
                          data-whitespace="nowrap"
                          data-type="text"
                          data-responsive_offset="on"
                          data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                          data-textalign="['left','left','left','left']"
                          data-paddingtop="[0,0,0,0]"
                          data-paddingright="[0,0,0,0]"
                          data-paddingbottom="[0,0,0,0]"
                          data-paddingleft="[0,0,0,0]"
                          style="z-index: 11; white-space: nowrap;text-transform:left;">

                          <a href="#" class="btn btn-base-1 btn-circle">Rent now</a>

                        </div>
                      </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                  </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
              </div>

              <section class="slice sct-color-2">
                <div class="container">
                  <div class="section-title section-title--style-1 text-center">
                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                      <span>Catégories principales</span>
                    </h3>
                  </div>
                  <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <% @categories.each do |category| %>
                      <div class="col-lg-4">
                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                          <div class="block-image">
                            <a href="#">
                              <%= link_to(image_tag(category.image_url, :alt => "" , :class => "img-center"), category_items_path(category_id: category.id))%>
                            </a>
                          </div>

                          <div class="block-body text-center">
                            <h3 class="heading heading-5 strong-600 text-capitalize">
                              <a href="">
                                <%= link_to(category.name, category_items_path(category_id: category.id)) %>
                              </a>
                            </h3>
                            <p class="product-description">
                              <%= truncate(category.description, lenght: 7, separator: ' ') %>
                            </p>
                            <div class="product-colors mt-2">
                              <div class="color-switch float-wrapper"></div>
                            </div>
                            <div class="product-buttons mt-4">
                              <%= link_to 'Explorer', category_items_path(category_id: category.id), class: "btn btn-gray-dark btn-circle px-4" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </section>

                  <section class="slice sct-color-2">
                    <div class="container">
                      <div class="section-title section-title--style-1 text-center">
                        <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                          <span>Articles les plus appréciés</span>
                        </h3>
                      </div>
                      <div class="row cols-xs-space cols-sm-space cols-md-space">
                        <% @item_sample.each do |item| %>
                          <div class="col-lg-3">
                            <div class="block product no-border z-depth-2-top z-depth-2--hover">
                              <div class="block-image">
                                <a href="#">
                                  <%= image_tag(item.picture, :alt => "" , :class => "img-center")%>
                                </a>
                              </div>
                              <div class="block-body text-center">
                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                  <a href="#">
                                    <%= item.title %>
                                  </a>
                                </h3>
                                <p class="product-description">
                                  <%= truncate(item.description, lenght: 7, separator: ' ') %>
                                </p>
                                <div class="product-colors mt-2">
                                  <div class="color-switch float-wrapper"></div>
                                </div>
                                <div class="product-buttons mt-4">
                                  <div class="row align-items-center">
                                      <div class="col-12">
                                        <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                          <i class="icon ion-android-cart"></i>Add to cart
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          </section>
                          <%= render 'layouts/banner_2' %>

                          <section class="slice sct-color-1">
                            <div class="container">
                              <div class="row align-items-center">
                                <div class="col-lg-6 ml-lg-auto order-lg-2">
                                  <%= image_tag("backgrounds/png/nikon-lens-zoom.png", class:"img-fluid") %>
                                </div>
                                <div class="col-lg-5 order-lg-1">
                                  <div class="">
                                    <h3 class="heading heading-2 strong-600">The most beautiful colors you've ever seen</h3>
                                    <p class=" c-gray-light mt-4">
                                      There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only.
                                    </p>
                                    <div class="btn-container mt-5">
                                      <a href="#" class="btn btn-base-1 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection">
                                        <i class="icon ion-android-cart"></i>
                                        Add to cart
                                      </a>
                                      <a href="#" class="btn
                        btn-base-3 btn-circle btn-icon-left px-4" data-scroll-to="#scrollToSection">
                                        Learn more
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>

                        </div>
                      </div>
                    </div>
                  </body>
                </html>
