<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-expand-lg navbar--bold navbar--style-2 navbar-light bg-default  navbar--shadow fixed-top">
  <div class="container navbar-container">
    <!-- Brand/Logo -->
    <a class="navbar-brand" href="">
      <%= link_to(image_tag('logo/logo.png'), root_path) %>
    </a>
    <!-- Navbar links -->
    <ul class="nav-perso navbar-nav">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Se deconnecter' , destroy_user_session_path, method: :delete, class: "nav-perso nav-item btn btn-base-1 btn-outline btn-circle" %></li>
          <% else %>
        <li>
          <%= link_to 'Se connecter', new_user_session_path, class: "nav-perso nav-link btn-base-1 btn-outline btn-circle nav-perso" %></li>
        <li>
          <%= link_to 'Créer un compte', new_user_registration_path, class: "nav-perso nav-link btn btn-block btn-base-1 btn-circle nav-perso" %></li>
      <% end %>
      <div class="col-md-6">
        <li class="nav-item dropdown-cart">
          <a href="#" class="nav-link dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="dropdown-menu py-0 px-0 overflow--hidden" aria-labelledby="navbar_1_dropdown_1">
            <div class="dc-header">
              <h3 class="heading heading-6 strong-600">Cart</h3>
            </div>
            <div class="dc-item">
              <% if @item_orders %>
              <% @item_orders.each do |item_order| %>
              <div class="d-flex align-items-center">
                <div class="dc-image">
                  <a href="#">
                    <%= image_tag(item_order.item.image_url, class:"img-fluid", alt:"") %>
                  </a>
                </div>
                <div class="dc-content">
                  <span class="d-block dc-product-name text-capitalize strong-600 mb-1">
                    <a href="#">
                      <%= item_order.item.title %>
                    </a>
                  </span>

                  <span class="dc-price"><%= item_order.item.price %></span>
                </div>
                <div class="dc-actions">
                    <%= button_to item_order_path(item_order.id), remote: true, method: :delete do %><i class="ion-close"></i><% end %>
                </div>
              </div>
              <% end %>
              <% end %>
              <div class="dc-item py-4">
                <span class="subtotal-text">Subtotal</span>
                <span class="subtotal-amount">$450.00</span>
              </div>
              <div class="py-4 text-center">
                <ul class="inline-links inline-links--style-3">
                  <li class="pr-3">
                    <a href="#" class="link link--style-2 text-capitalize">
                      <i class="ion-person"></i>
                      My account
                    </a>
                  </li>
                  <li class="pr-3">
                    <a href="#" class="link link--style-1 text-capitalize">
                      <%= link_to cart_path(current_order) do %><i class="ion-bag"></i>
                      View cart<% end %>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link link--style-1 text-capitalize">
                      <i class="ion-forward"></i>
                      Checkout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
